RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^login$ index.php
RewriteRule ^dashboard$ dashboard.php
RewriteRule ^data_sesi$ sesi.php
RewriteRule ^tambah_sesi/$ crud_sesi/tambah.php
RewriteRule ^data_guru$ guru.php
RewriteRule ^tambah_guru/$ crud_guru/tambah.php
RewriteRule ^data_siswa$ siswa.php
RewriteRule ^tambah_siswa/$ crud_siswa/tambah.php
RewriteRule ^data_paslon$ paslon.php
RewriteRule ^tambah_paslon/$ crud_paslon/tambah.php
RewriteRule ^edit_guru/([0-9]+) crud_guru/edit.php?id=$1
RewriteRule ^hapus_guru/([0-9]+) crud_guru/hapus.php?id=$1
RewriteRule ^edit_paslon/([0-9]+) crud_paslon/edit.php?id=$1
RewriteRule ^hapus_paslon/([0-9]+) crud_paslon/hapus.php?id=$1
RewriteRule ^edit_siswa/([0-9]+) crud_siswa/edit.php?id=$1
RewriteRule ^hapus_siswa/([0-9]+) crud_siswa/hapus.php?id=$1
RewriteRule ^edit_sesi/([0-9]+) crud_sesi/edit.php?id=$1
RewriteRule ^hapus_sesi/([0-9]+) crud_sesi/hapus.php?id=$1
RewriteRule ^import_siswa/$ crud_siswa/import.php
RewriteRule ^import_guru/$ crud_guru/import.php
RewriteRule ^hasil$ hasil.php
RewriteRule ^laporan$ cetak.php
RewriteRule ^result$ result.php
RewriteRule ^cetak_laporan$ cetak_laporan.php
RewriteRule ^cetak_siswa$ cetak_siswa.php
RewriteRule ^cetak_guru$ cetak_guru.php
RewriteRule ^cek_login$ data.php